@charset "UTF-8";

/* 回答はここに書いてね */

.float__clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float__box:first-child {
  margin-right: 50px;
}

.float__box {
  font-size: 16px;
  width: 225px;
  float: left;
  box-sizing: border-box;
}

/* q7-2 */
.table__inner {
  display: table;
  table-layout: fixed;
}

.table__box {
  display: table-cell;
}

.table__box:first-child {
  border-right: 25px solid transparent;
  vertical-align: middle;
}

.table__box:last-child {
  border-left: 25px solid transparent;
}

/* q7-3 */
.inline-block__inner {
  font-size: 0px;
}

.inline-block__box {
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle;
}

.inline-block__box:first-child {
  margin-right: 50px;
}

/* q7-4 */
.flex__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex__box {
  width: 225px;
  box-sizing: border-box;
}

/* q7-5 */
.inline-margin__inner {
  font-size: 0px;
}

.inline-margin__box {
  font-size: 16px;
  display: inline-block;
}

.inline-margin__box:first-child {
  width: 300px;
  margin-right: 50px;
  vertical-align: top;
}

.inline-margin__box:last-child {
  width: 100%;
  margin-left: -350px;
}

.inline-margin__text {
  margin-left: 350px;
}
/* 回答はここに書いてね */
