@charset "UTF-8";

/* 回答はここに書いてね */

.float__clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.box__text:first-child {
  margin-left: 0px;
}

.box__text {
  font-size: 16px;
  width: 225px;
  margin-left: 50px;
  box-sizing: border-box;
}

.float__clearfix .box__text {
  float: left;
}

/* q7-2 */
.table__box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.table__box:first-child {
  padding-left: 0;
}

/* q7-3 */
.inline_block__inner {
  font-size: 0px;
}

.inline_block__box {
  display: inline-block;
  vertical-align: middle;
}

.inline_block__box:first-child {
  margin-left: 0;
}

/* q7-4 */
.flex__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex__inner .box__text {
  margin-left: 0;
}

/* q7-5 */
.inline_margin__inner {
  font-size: 0px;
}

.inline_margin__box {
  font-size: 16px;
  display: inline-block;
}

.inline_margin__box:first-child {
  width: 300px;
  vertical-align: top;
}

.inline_margin__box:nth-child(2){
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

/* 回答はここに書いてね */
