@charset "UTF-8";

/* 回答はここに書いてね */

/* 回答はここに書いてね */

.q3__box__table {
  table-layout: fixed;
  width: 100%;
}

.q3__box__table th {
  background-color: #2244aa;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 26px;
}

.q3__box__table th, .q3__box__table td {
  padding: 10px;
  border: 1px solid #dedede;
}

.q3__box__table  td {
  line-height: 22px;
  text-align: center;
}

.q3__box__table tbody tr:nth-child(even) {
  background-color: #ecf1f2;
}

.q3__box__table tbody tr:last-child {
  border-top: dashed #000 2px;
}

